<div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="https://farm4.staticflickr.com/3867/14809661061_05d7da0d9f_o.jpg" alt="GoHelp" class="img-responsive">
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <img src="https://farm6.staticflickr.com/5561/14812311635_0f307b7f11_o.jpg" alt="Volunteer1" class="img-responsive">
          <div class="carousel-caption">
            <h2 align="center">Project Name 1</h2>
          </div>
        </div>
        <div class="item">
          <img src="https://farm6.staticflickr.com/5588/14625762217_7d96eb30df_o.jpg" alt="Volunteer2" class="img-responsive">
          <div class="carousel-caption">
            <h2 align="center">Project Name 2</h2>
          </div>
        </div>
        <div class="item">
          <img src="https://farm4.staticflickr.com/3848/14809199251_e566450678_o.jpg" alt="Volunteer3" class="img-responsive">
          <div class="carousel-caption">
            <h2 align="center">Project Name 3</h2>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
</div>

<!-- <a href="#" class="btn btn-default">Learn More</a> -->

<br>
<br>

<div class="jumbotron text-center" id="jumbo">
  <div class="container-fluid text-center">
    <h2>About Us</h2>
    <p>Bacon ipsum dolor sit amet pork meatloaf tongue flank rump pork loin, kielbasa turducken shoulder. Doner pig boudin, andouille meatball sausage pancetta ham hock jerky ham. Brisket pork chop capicola strip steak pork ball tip swine shankle fatback turducken. Beef ribs jowl tenderloin, leberkas prosciutto chicken bresaola andouille landjaeger rump chuck shankle hamburger ground round. Drumstick corned beef shoulder swine bresaola filet mignon. Capicola ground round beef ribeye, jowl shank pastrami filet mignon porchetta flank.

    Short loin bacon tongue, landjaeger frankfurter short ribs tri-tip pork chop meatball shoulder venison leberkas tenderloin ham hock. Jerky strip steak porchetta kevin. Turkey bacon spare ribs ground round. Biltong brisket corned beef flank ham hock chicken andouille ribeye beef ribs tongue meatball.
    </p>
  </div>
</div>

<div class="jumbotron">
  <div class="row">
      <div class="panel panel-default col-md-4">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
      <div class="panel panel-default col-md-4">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
      <div class="panel panel-default col-md-4">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="jumbotron" id="imgswag">
</div> -->

  <!-- <div class="jumbotron" align="center" id="jumbo">
    <h2>Featured Projects</h2><br>
  </div><br>
  <div> -->
