

<div class="container-fluid">
  <div class="jumbotron" id="imgswag">
    
  </div>
</div>
<hr>


<div class="container-fluid text-center">
  <h2>About Us</h2>
  <p>Bacon ipsum dolor sit amet pork meatloaf tongue flank rump pork loin, kielbasa turducken shoulder. Doner pig boudin, andouille meatball sausage pancetta ham hock jerky ham. Brisket pork chop capicola strip steak pork ball tip swine shankle fatback turducken. Beef ribs jowl tenderloin, leberkas prosciutto chicken bresaola andouille landjaeger rump chuck shankle hamburger ground round. Drumstick corned beef shoulder swine bresaola filet mignon. Capicola ground round beef ribeye, jowl shank pastrami filet mignon porchetta flank.

  Short loin bacon tongue, landjaeger frankfurter short ribs tri-tip pork chop meatball shoulder venison leberkas tenderloin ham hock. Jerky strip steak porchetta kevin. Turkey bacon spare ribs ground round. Biltong brisket corned beef flank ham hock chicken andouille ribeye beef ribs tongue meatball.
  </p>
</div>
<hr>

<div class="container-fluid">
  <div class="jumbotron text-center" id="jumbo">

    <h2>Featured Project</h2>
    <p>Lorem ipsum dolor sit amet, ius ea consul eleifend. Ferri nominati efficiantur eum an. Sed stet commune mediocrem ei. An his quem constituam. Dicant nusquam inimicus pri in, ei est fuisset alienum, quo tation iracundia id.

    Te maiorum ponderum facilisi pro, eam in esse impedit. Vel probo illud alterum te, quot partem eripuit cu sed. No iudico dictas est. Vel ei nominavi sadipscing cotidieque, an qui illud patrioque. Ut sea affert facete mentitum, tation noster rationibus ut qui. At habeo eripuit mea, clita dolorum ne nec.

    Eam stet soluta at. Elitr quando ne sed. Nostro labitur tacimates pri in. Quo elit nemore corrumpit ut. An ius utinam noluisse, ei nam veniam qualisque. Pri inermis ponderum ut, et invidunt apeirian vis.

    Eos ei aeterno singulis. Autem habemus petentium ut est, diam fabulas percipit et sit. Liber lucilius eos in, et sale sanctus dissentias has. Clita atomorum v el ex, et sit unum option. Tota adhuc tation ut vis, ea quod putent nam. Suavitate rationibus pri no, vix eu clita veniam, altera invidunt intellegat cu mei. Cum id feugiat vocibus assueverit.

    Pro agam graeco mentitum ex. Sit an accusata perpetua. Ex pri novum clita melius. Ex odio nullam deterruisset vix, eruditi labores cu sea. Inermis fabellas ad ius, qui quod sumo aliquam cu.
    </p>
    <a href="#" class="btn btn-default">Learn More</a>
  </div>
</div>  


<br>
<br>
<br>
</div>



<hr>
