<h1>New Project</h1>

<form action='/new_project' method="post">
  <div>
    <label>Name:</label>
    <input type="text" name="name" required>
  </div>
  <div>
    <label>Start Date:</label>
    <input type="text" name="start_date"required>
  </div>
  <div>
    <label>End Date:</label>
    <input type="text" name="end_date"required>
  </div>
  <div>
    <label>Location:</label>
    <input type="text" name="location"required>
  </div>
    <div>
    <label>Bio:</label>
    <input type="text" name="bio"required>
  </div>

    <div>
    <label>Number of Volunteers:</label>
    <input type="text" name="number_of_vols"required>
  </div>
      <div>
    <label>Project's youtube url:</label>
    <input type="text" name="youtube" required>
  </div>

  <div>
    <input type="submit" value="Submit">
  </div>
</form>
