<div id="bluebg">

<br>

<% if current_user %>
<p align="center">Welcome <%= @current_user.first_name.capitalize %>!</p>

<br>

<div class="container-fluid">
  <div class="jumbotron text-center" id="joinproj">
    <h1>Make the world a better place and join a project!</h1>
  </div>

  <div class="jumbotron" id="jumbo">
    <h2 align="center">Upcoming Projects</h2>
    <%end%>
    <br>
  </div>
</div>

<div class="jumbotron text-center">
    <% Project.all.each do |project| %>
      <div >
        <a href='/projects/<%=project.id%>'><%= project.name %></a>
      </div>
    <% end %>
</div>

<div class="container">
  <div class="panel text-center">
    <h3><a href='/new_project'>Create your own project now!</a></h3>
    <br>
  </div>
</div>

<div class="container" align="center">
  <% if current_user %>
  <form action="/logout" method="post">
  <input type="submit" value="Logout">
  </form>

  <a href='/users/<%= @current_user.id %>'>Profile</a>

  <% end %>
</div>
</div>