<h1>Make the world a better place and join a project!</h1>
<% if current_user %>
<p>Welcome <%= @current_user.first_name %> </p>
<h2> Check out some of our upcoming volunteer projects! </h2>
<%end%>

<% Project.all.each do |project| %>
  <li><a href='/projects/<%=project.id%>'><%= project.name %></a></li>
<% end %>

<% if current_user %>
<br></br>
<form action="/logout" method="post">
<input type="submit" value="Logout">
</form>

<a href='/users/<%= @current_user.id %>'>Profile</a>



<% end %>
